@media screen and (max-width: 1360px) {
    h1{
        font-family: Migra;
        font-weight: 400;
        /* font-style: normal; */
        font-size: 55px;
        line-height: 50px;
        margin: 0;
        padding: 0;
    }
    h4{
        font-weight: 400;
        font-size: 16px;
        line-height: 40px;
    }
}


@media screen and (max-width: 1360px) {
    .what-row{
        flex-direction: column;
        align-items: flex-start;
    }
    .what-row h1{
        margin: 0;
    }

    p.presentation{
        margin-left: 0px;
        margin-top: 3vh;
    }
}

@media screen and (max-width: 900px) {
    .main_menu{
        display: inline;
    }

    .header_clickable{
        display: none;
    }

    .header_clickable.item_menu{
        display: inline;
    }

    div.intro{
        flex-direction: column;
        justify-content: space-between;
        height: 50vh;
    }
    .ines .title_ines{
        width: 100vw;
    }
    .ines .creative_designer{
        width: 100vw;
    }

    .what_rows{
        margin-left: 10vw;
    }

    .what-row h1{
        font-weight: 400;
        font-size: 35px;
        line-height: 40px;
    }

    p.presentation{
        width: 70vw;
    }
}


@media screen and (max-width: 1425px) {
    .build .title_contact{
        -moz-column-gap: 0;
             column-gap: 0;
        text-align: left;
        justify-content: flex-start;
    }
    .build .title_contact > span{
        width: 100%;
    }
	.build_fun{
		order: 3;
        justify-content: center;
	}
}

@media screen and (max-width: 1150px) {
    .contact_catch{
        order: 3;
        max-width: 15vw;
        min-width: 190px;
    }
    .contact_mail{
        font-weight: 400;
        /* font-style: normal; */
        font-size: 35px;
        line-height: 40px;
    }
    .contact_mail_copy{
        order: 2;
        text-align: right;
        margin-top: 8vh;
    }

    .build{
        row-gap: 4vh;
    }
}

@media screen and (max-width: 450px) {
    .contact_mail > span{
        display: block;
    }
}

@media screen and (max-width: 1000px) {
    .contact_mail > span{
        display: block;
    }
}

/* ///// WORK ///// */


@media screen and (max-width: 700px) {
    .blank_works{
        width: 30px;
        flex-shrink: 0;
    }


    .single_work .project{
        margin: 4.4vh 10vw;
    }

    .project .project_image{
        aspect-ratio: 8 / 10;
        width: 283px;
        height: 400px;
    }

    .project h4{
        margin: 0;
    }

    .project_infos span{
        max-width: 100%;
    }
}
